.card__image {
  width: 100%;
  height: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.card__title {
  max-width: 353px;
  margin: 0;
  color: rgba(33, 33, 33, 1);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  width: 23px;
  height: 20px;
  background-image: url(../images/like-icon.svg);
  opacity: 40%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 1;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    max-width: 235px;
    font-size: 16px;
    line-height: 100%;
  }
}
