.footer {
  padding: 60px 0;
  display: flex;
  justify-content: center;
}

.footer__description {
  margin: 0;
  color: rgba(33, 33, 33, 0.7);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}
